body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Raleway, Arial, sans-serif
}


nav {
    padding-top: 33px;
    width: 100%;
    text-align: end;
}

nav a {
    padding: 30px 35px 0 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC
}

/* Logo de la page */
#logoBooki {
    width: 100px;

    top: 30px;
    left: 30px;
}

/* Partie textes */
h1 {

    left: 55px;
    top: 126px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

p {
    left: 55px;
    top: 160px;
}

h3 {
    top: 372px;
    left: 60px;
    width: 4px;
    height: 10px;
    border: 1px solid #df2e2e;
    border-radius: 50%;
}

h4 {
    top: 373px;
    left: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Formulaire de recherche */
form {
    top: 222px;
    left: 60px;
}

input {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

/* Zone de filtres */


.flex {
    display: flex;
}

.lesfiltres {
    width: 65%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    display: flex;
}

.item {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 10px 15px 10px 15px;
    white-space: nowrap;

}

/* Hébergements */
.hebergements {
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;

    top: 426px;
    left: 30px;
}

/* Les plus populaires */
.lespopulaires {
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;

    top: 426px;
    left: 953px;
}





.item>i {
    color: #0065FC;
    padding-right: 15px;

}


.item:hover {
    background: #DEEBFF;
}

.toto {
    display: flex;
    align-items: baseline;
}

.titi{
    margin: 2% 1% 2% 0;
    background-color: white;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}























