body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Raleway, Arial, sans-serif;
}

                            /* Logo de la page et Nav */

.headerLogo {
  display: flex;
  margin: 35px 0 70px 0;
}

nav {
  width: 40%;
  text-align: end;
}

nav a {
  padding: 30px 35px 0 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.logoBooki {
  width: 60%;
}

#logoBooki {
  width: 61px;
  height: 19px;
}

                              /* Partie textes */

p {
  font-weight: 700;
  margin-top: -12px;
}

.txtI {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

                            /* Formulaire de recherche */

form {
  margin: 20px 0 45px 0;
}

label {
  border: #f2f2f2 1px solid;
  padding: 10px 10px 10px 15px;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: -4px;
}

input {
  border: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  border: #0065fc 1px solid;
  background-color: #0065fc;
  padding: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #ffffff;
  font-weight: 700;
  margin-left: -4px;
}

                                  /* Zone de filtres */

.lesFiltres {
  width: 100%;
  justify-content: flex-start;
  gap: 4%;
  flex-wrap: wrap;
  align-items: baseline;
  display: flex;
}

.item {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
  font-weight: 700;
}

.item > i {
  color: #0065fc;
  padding-right: 15px;
}

.item:hover {
  background: #deebff;
}

.loc {
  display: flex;
  align-items: baseline;
}

                                  /* Partie Info */

.info {
  margin: 35px 10px 35px 0;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

                      /* Hébergements et Les plus populaires */

.grid-heb-pop {
  display: flex;
  width: 100%;
  gap: 3%;
}

.colorBlue {
  color: #0065fc;
}

.colorGrey {
  color: #d9d9d9;
}

                                  /* Hébergements */

.hebergementsFond {
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.titreHeb {
  display: flex;
  width: 100%;
  margin: 40px 0 15px 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.cardsHeb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.canebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
  width: 256px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 15px 15px 15px 9px;
  box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -webkit-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -moz-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
}

.canebiere:hover,
.port:hover,
.mouettes:hover,
.mer:hover,
.panier:hover,
.amina:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img-card-heb {
  width: 246px;
  height: 120px;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-header-heb {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin: 0 0 10px 15px;
}

.card-text-heb {
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  margin-left: 15px;
  margin-top: -8px;
}

.etoileHeb {
  margin: 18px 0 0 15px;
}

.afficherPlus {
  font-weight: 700;
  font-size: 18px;
  margin: 40px 0 35px 40px;
  width: 100%;
}

                                  /* Les plus populaires */

.populaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 28%;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.cardsPop {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.lesplus {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  width: 90%;
  margin: 40px 0 -90px 25px;
}

.lesplus > i {
  color: #0065fc;
  display: flex;
  justify-content: end;
  width: 30%;
}

.soleil,
.coeur,
.bleublanc {
  display: flex;
  width: 343px;
  height: 144px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -webkit-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -moz-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
}

.soleil:hover,
.coeur:hover,
.bleublanc:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img-card-pop {
  width: 137px;
  height: 134px;
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.card-header-pop {
  font-size: 16px;
  line-height: 19px;
  margin: 15px 0 25px 6px;
}

.card-text-pop {
  font-weight: 700;
  font-size: 14px;
  margin-left: 6px;
}

.etoilesPop {
  display: flex;
  justify-content: end;
}

                              /* Activités à Marseille */

.activites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 50px;
  gap: 3%;
}

.titreActivites {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  font-size: 22px;
  margin-bottom: 15px;
}

.vieuxport,
.fort,
.parc,
.notredame {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 445px;
  margin-top: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -webkit-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
  -moz-box-shadow: 5px 6px 20px -5px rgba(97, 96, 96, 0.71);
}

.vieuxport:hover,
.fort:hover,
.parc:hover,
.notredame:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.img-activites {
  width: 302px;
  height: 390px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-header-activites {
  font-weight: 700;
  margin: 18px 0 10px 20px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 70%;
  background-color: #d9d9d9;
  margin-top: 61px;
  gap: 10%;
}

.aPropos,
.nosHebergements,
.assistance {
  margin: 25px 0 30px 45px;
}

.titreFooter {
  font-size: 18px;
  margin-bottom: 25px;
}

.txtFooter {
  font-size: 16px;
}

                            /* Version tablette */

@media screen and (min-width: 768px) and (max-width: 992px) {

                            /* Les filtres tablette */

  .lesFiltres {
    gap: 1%;
  }

                          /* Hébergement tablette */

  .grid-heb-pop {
    display: flex;
    flex-direction: column;
  }

  .hebergementsFond {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

                          /* Les plus populaires tablette */

  .populaires {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .lesplus {
    margin: 20px 0 20px 0;
  }

  .lesplus > i {
    width: 75%;
  }

  .cardsPop {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
  }

  .soleil,
  .coeur,
  .bleublanc {
    width: 256px;
    height: 144px;
  }

  .card-header-pop > h1 {
    font-size: 12px;
  }
  .card-header-pop > p {
    font-size: 11px;
  }

  .img-card-pop {
    width: 106px;
    height: 134px;
  }

  .etoilesPop {
    margin: 45px 30px 0 0;
  }

                            /* Activités à Marseille Tablette */

  .vieuxport,
  .fort,
  .parc,
  .notredame {
    width: 182px;
    height: 266px;
  }

  .activites {
    justify-content: space-evenly;
  }

  .img-activites {
    width: 182px;
    height: 211px;
  }

  .card-header-activites {
    font-size: 15px;
    margin: 16px 0 0 20px;
  }
}

                                /* Version téléphone */

@media screen and (min-width: 375px) and (max-width: 767px) {
  
                                /* Header téléphone */

  nav {
    width: 100%;
  }

  nav a {
    padding: 0 35px 20px 20px;
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  .headerLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 35px 0 70px 0;
  }

                                /* Les filtres Téléphone */

  .item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 11px;
  }

                                /* Les plus populaires Téléphone */

  .grid-heb-pop {
    display: flex;
    flex-direction: column-reverse;
  }

  .populaires {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .lesplus {
    width: 100%;
    margin: 20px 0 0 25px;
  }

  .cardsPop {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0 30px 0;
  }

  .soleil,
  .coeur,
  .bleublanc {
    width: 334px;
    height: 144px;
    margin-top: 15px;
  }

  .img-card-pop {
    width: 137px;
    height: 134px;
  }

  .card-header-pop {
    font-size: 16px;
  }

  .card-text-pop {
    font-size: 14px;
  }

                            /* Hébergements à Marseille téléphone */

  .hebergementsFond {
    background-color: #ffffff;
    border-radius: 0;
    width: 100%;
  }

  .canebiere,
  .port,
  .mouettes,
  .mer,
  .panier,
  .amina {
    width: 335px;
    height: 218px;
  }

  .img-card-heb {
    width: 325px;
    height: 124px;
  }

  .card-header-heb {
    font-size: 16px;
  }
  .card-text-heb {
    font-size: 14px;
  }

  .afficherPlus {
    display: none;
  }

                            /* Activités à Marseille téléphone */

  .activites {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .activites>h1 {
    margin-left: 30px;
  }

  .vieuxport,
  .fort,
  .parc,
  .notredame {
  width: 334px;
  height: 190px;
  margin-top: 15px;
}

.img-activites {
  width: 334px;
  height: 134px;
}

                            /* Footer téléphone */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}




}
